<body>
    <h1>Voici tous les chocolats possible dans notre boutique !</h1>

    <table mat-table [dataSource]="chocolats$" multiTemplateDataRows
    class="mat-elevation-z8">>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let chocolats$"> {{chocolats$.id}} </td>
        </ng-container>

        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef>Nom</th>
          <td mat-cell *matCellDef="let chocolats$"> {{chocolats$.nom}} </td>
        </ng-container>
        
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let chocolats$"> {{chocolats$.description}} </td>
        </ng-container>
       
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Delete </th>
          <td mat-cell *matCellDef="let chocolats$" (click)=deleteOne(chocolats$.id)> ❌</td>
        </ng-container>

        <ng-container matColumnDef="update">
          <th mat-header-cell *matHeaderCellDef> Update </th>
          <td mat-cell *matCellDef="let chocolats$" (click)=goToForm(chocolats$.id)> ✏️ </td>
        </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<button mat-button color="primary" (click)="goToForm()">
  <mat-icon>add</mat-icon>
</button>
</body>



  
