.form{
    background-color: #FFF8DC;
    text-align: center;
}

mat-form-field{
    color:white;
    background: #7D7678;
    border: 2px solid #E91E63 ;
    width: 30%;
}

body{
    background-color: #FFF8DC;
}

h1{
    text-align: center;
    color: 	#F4A460;
    font-size: 30px;
    font-weight: bold;
}