.form{
    background-color: #FFF8DC;
    text-align: center;
    
    

}

mat-form-field{
    color:red;
    background: black;
    border: 2px solid red ;
    width: 30%;
    
}

body{
    background-color: #FFF8DC;
}